body {
  margin: 0px;
}

.heading {
  display: inline-block;
  font-size: 3rem;
  text-align: center;
  margin: 1.5rem 1rem;
  margin-left: 3rem;
  background: #126f9a;
  border-radius: 6px;
  color: rgb(222, 218, 218);
}

@media (max-width: 450px) {
  .heading {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 1rem;
    margin-left: 3rem;
    background: #126f9a;
    border-radius: 6px;
    color: rgb(222, 218, 218);
  }
}
